<p id="notice"><%= notice %></p>

<h1>Listing Socials</h1>

<table>
  <thead>
    <tr>
      <th>Facebook</th>
      <th>Twitter</th>
      <th>Instagram</th>
      <th>Youtube</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @socials.each do |social| %>
      <tr>
        <td><%= social.facebook %></td>
        <td><%= social.twitter %></td>
        <td><%= social.instagram %></td>
        <td><%= social.youtube %></td>
        <td><%= link_to 'Show', social %></td>
        <td><%= link_to 'Edit', edit_social_path(social) %></td>
        <td><%= link_to 'Destroy', social, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Social', new_social_path %>
